// ---------------------------------------------------------------- //
// 1. Mixin - Position Type & Position Placement  					//
// ---------------------------------------------------------------- //
// @mixin <directive>(<position-placement> <position-placement>)
// @mixin fixed(left 0 right 0 bottom 100px) = position: fixed; left: 0; right: 0; bottom: 100px;



@mixin position($position, $args) {
 	@each $o in top right bottom left {
    	$i: index($args, $o);
    	@if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
      		#{$o}: nth($args, $i + 1);
    	}
  	}
  	position: $position;
}

// Positioning helpers
@mixin absolute($args: '') {
	@include position(absolute, $args);
}

@mixin fixed($args: '') {
	@include position(fixed, $args);
}

@mixin relative($args: '') {
	@include position(relative, $args);
}



// ---------------------------------------------------------------- //
// 2. Mixin - Element Height & Width  								//
// ---------------------------------------------------------------- //
// @mixin <directive>($width, $height)
// @mixin box(100px, 100px) = width: 100px; height: 100px;

@mixin margin($top, $left){
  margin-top: $top;
  margin-left: $left;
}

@mixin box($width, $height) {
	width: $width;
	height: $height;
}

@mixin grids($c-start, $c-end, $r-start){
	grid-column-start:$c-start;
	grid-column-end:$c-end;
	grid-row-start:$r-start;
}	

@mixin grids2($cstart, $rstart, $rend){
	grid-column-start:$cstart;
	grid-row-start:$rstart;
	grid-row-end:$rend;
}