@import 'mixins.scss';
@import 'common.scss';

$translucent-body: 0.95;



//========== Debug Button ==========
//The debug button allows the user to stop all animations by double clicking the top right corner
#debug_button {
	@include fixed(top 0 right 0);
	@include box(100px, 100px);
	z-index: 200;
	background: #000;
}
#debug_button {
	@include fixed(top 3px right 5%);
	@include box(100px, 50px);
	z-index: 1000;
	border-radius: 50px;	
    background-color: rgba(0,0,0, 0.1);
	border: solid 1px rgba(0,0,0, 0.1);
	color: white;
}
#debug_button2 {
    @include fixed(top 3px right 5%);
    @include box(100px, 50px);
	z-index: 990;
	border-radius: 50px;	
    background-color: rgba(0,0,0, 0.1);
	border: solid 1px rgba(0,0,0, 0.1);
	color: white;
}

.container {
	@include box (1920px, 1080px);
}

#cloud1{
	@include grids(1,3,1);
	@include box (140px, 60px);
	@include margin(8%, 8%);
	z-index: 6;
	opacity: $translucent-body;
	animation: move 10s linear infinite;
}

#cloud2{
	@include grids(1,3,1);
	@include box (190px, 90px);
	@include margin(10%, 30%);
	z-index: 7;
	animation: move 10s linear infinite;
}

#cloud3{
	@include grids(1,3,1);
	@include box (220px, 90px);
	@include margin(8%, 60%);
	z-index: 15;
	animation: move 10s linear infinite;
}

@keyframes move {
	0%{-webkit-transform: translate(0px);
    transform: translate(0px); }
	100%{-webkit-transform: translate(-120px);
    transform: translate(-120px); }
}

#sun{
	@include grids(1,3,1);
	@include box (120px, 120px);
	@include margin(5%, 6%);
	z-index: 5;
	animation:spin 10s linear infinite;
}

@keyframes spin {
  100% {-webkit-transform: scale(0.6);
    transform: scale(0.6) translate(20px, 50px); }
}

#seagull1{
	@include grids(1,3,1);
	@include box (100px, 60px);
	@include margin(8%, 8%);
	z-index: 5;
	opacity:$translucent-body;
	animation: move1 10s ease-in-out infinite;
}

@keyframes move1 {
	0%{-webkit-transform: translate(0px);
    transform: translate(0px); }
	30%{-webkit-transform: translate(400px, 100px);
    transform: translate(400px, 100px); }
	100%{-webkit-transform: translate(900px, -40px);
    transform: translate(970px, -40px); }
}

#seagull2{
	@include grids(1,3,1);
	@include box (50px, 25px);
	@include margin(3%, 15%);
	z-index: 4;
	animation: move2 10s linear infinite;
}

@keyframes move2 {
	0%{-webkit-transform: translate(0px);
    transform: translate(0px); }
	10%{-webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px);}
	30%{-webkit-transform: translate(70px, 50px);
    transform: translate(70px, 50px); }
	60%{-webkit-transform: translate(65px, 80px);
    transform: translate(65px, 80px); }
	100%{-webkit-transform: translate(990px, 70px);
    transform: translate(800px, 90px); }
}

#seagull3{
	@include grids(1,3,1);
	@include box (40px, 20px);
	@include margin(4%, 80%);
	z-index: 6;
	opacity:$translucent-body;
	animation: move3 10s linear infinite;
}

@keyframes move3 {
	0%{-webkit-transform: translate(0px);
    transform: translate(0px); }
	10%{-webkit-transform: translate(-80px, 50px);
    transform: translate(-80px, 50px);}
	30%{-webkit-transform: translate(-150px, 100px);
    transform: translate(-150px, 100px); }
	60%{-webkit-transform: translate(-400px, 100px);
    transform: translate(-400px, 100px); }
	100%{-webkit-transform: translate(-990px, -40px);
    transform: translate(-990px, -40px); }
}

#wave1{
	@include grids2(1,1,2);
	@include box (1180px, 50px);
	@include margin(385px, 0px);
	z-index:190;
	overflow: hidden;
	animation: flow 3.5s linear infinite;
}
@keyframes flow{
	20% {transform: scale(1,1.7); }
	60% {transform: scale(1,1.2); }
	100% {transform: scale(1,1); }
}

#wave2{
	@include grids2(1,1,2);
	@include box (1180px, 50px);
	@include margin(360px, 0px);
	z-index:189;
	overflow: hidden;
	animation: flow2 3.5s ease infinite;
}
@keyframes flow2{
	0% {transform: scale(1,0.9); }
	20% {transform: scale(1,1.2); }
	60% {transform: scale(1,0.8); }
	80% {transform: scale(1, 1.5);}
	100% {transform: scale(1,1); }
}

#wave3{
	@include grids2(1,1,2);
	@include box (1180px, 50px);
	@include margin(340px, 0px);
	z-index:188;
	overflow:hidden;
	animation: flow3 3.5s ease-in-out infinite;
}
@keyframes flow3{
	0% {transform: scale(1,0.5); }
	20% {transform: scale(1,0.9); }
	60% {transform: scale(1,0.6); }
	80 {transform: scale(1, 1.5);}
	100% {transform: scale(1,1); }
}

#frozen{
	width:1180px;
	height:auto;
	z-index:300;	
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:3;
	opacity:0.0;
	animation: freeze 10s linear  infinite;

}
@keyframes freeze{
	75%{ opacity:0.0;}
	80%{opacity:1.0;}
	90{opacity:1.0;}
	100%{opacity: 1.0;}
	
}

#product{
	width:1180px;
	height:auto;
	z-index:200;	
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:3;
}

#bg{
	width:1180px;
	height:auto;
	z-index:1;	
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:3;
}