
* {
  	margin: 0;
  	padding: 0; 
}
*:focus{
	outline:none;
}

body {
	width: 1920px;
	height: 1080px;
	overflow: hidden;
}

.container{
	width:1920px;
	overflow: hidden;
	display:grid;
	grid-template-columns:200px 1180px 300px;
	grid-template-rows:auto 1fr 1fr;
	justify-content: center;
	
}

#debug_button {
    position: fixed;
    top: 3px;
    right: 5%;
    z-index: 1000;
    height: 50px;
    width: 100px;
	border-radius: 50px;	
    background-color: rgba(0,0,0, 0.1);
	border: solid 1px rgba(0,0,0, 0.1);
	color: white;
}
#debug_button2 {
    position: fixed;
    top: 3px;
    right: 5%;
    z-index: 990;
    height: 50px;
    width: 100px;
	border-radius: 50px;	
    background-color: rgba(0,0,0, 0.1);
	border: solid 1px rgba(0,0,0, 0.1);
	display: none;
	color: white;
}

#sun{
	animation:spin 10s linear infinite;
	width: 120px;
	height:120px;
	z-index: 5;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	margin-top: 5%;
	margin-left:6%;

}


@keyframes spin {

  100% {
    -webkit-transform: scale(0.6);
    transform: scale(0.6) translate(20px, 50px); 
	
  }
}

#cloud1{
	width: 140px;
	height:60px;
	z-index: 6;
	opacity:0.95;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	margin-top: 8%;
	margin-left:8%;
	animation: move 10s linear infinite;
}


@keyframes move {
	0%{-webkit-transform: translate(0px);
    transform: translate(0px); }
	100%{-webkit-transform: translate(-120px);
    transform: translate(-120px); }
}


#cloud2{
	width: 190px;
	height:90px;
	z-index: 6;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	margin-top: 10%;
	margin-left:30%;
	animation: move 10s linear infinite;
}


#cloud3{
	width: 220px;
	height:90px;
	z-index: 15;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	margin-top: 8%;
	margin-left:60%;
	animation: move 10s linear infinite;
}


#cloud4{
	width: 120px;
	height:60px;
	z-index: 6;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	margin-top: 4%;
	margin-left:70%;
	animation: move 10s linear infinite;
}


#seagull1{
	width: 100px;
	height:60px;
	z-index: 5;
	opacity:0.95;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	margin-top: 8%;
	margin-left:8%;
	animation: move1 10s ease-in-out infinite;
}


@keyframes move1 {
	0%{-webkit-transform: translate(0px);
    transform: translate(0px); }
	30%{-webkit-transform: translate(400px, 100px);
    transform: translate(400px, 100px); }
	100%{-webkit-transform: translate(900px, -40px);
    transform: translate(970px, -40px); }
}


#seagull2{
	width: 50px;
	height:25px;
	z-index: 4;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	margin-top: 3%;
	margin-left:15%;
	animation: move2 10s linear infinite;
}


@keyframes move2 {
	0%{-webkit-transform: translate(0px);
    transform: translate(0px); }
	10%{-webkit-transform: translate(50px, 20px);
    transform: translate(50px, 20px);}
	30%{-webkit-transform: translate(70px, 50px);
    transform: translate(70px, 50px); }
	60%{-webkit-transform: translate(65px, 80px);
    transform: translate(65px, 80px); }
	100%{-webkit-transform: translate(990px, 70px);
    transform: translate(800px, 90px); }
}

#seagull3{
	width: 40px;
	height:20px;
	z-index: 6;
	opacity:0.95;
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	margin-top: 4%;
	margin-left:80%;
	animation: move3 10s linear infinite;
}


@keyframes move3 {
	0%{-webkit-transform: translate(0px);
    transform: translate(0px); }
	10%{-webkit-transform: translate(-80px, 50px);
    transform: translate(-80px, 50px);}
	30%{-webkit-transform: translate(-150px, 100px);
    transform: translate(-150px, 100px); }
	60%{-webkit-transform: translate(-400px, 100px);
    transform: translate(-400px, 100px); }
	100%{-webkit-transform: translate(-990px, -40px);
    transform: translate(-990px, -40px); }
}




#wave1{
	z-index:190;
	width: 1180px;
	height: 50px;
	grid-column-start:1;
	grid-row-start:1;
	grid-row-end:2;
	margin-top:385px;
	overflow: hidden;
	animation: flow 3.5s linear infinite;
}

@keyframes flow{
	20% {transform: scale(1,1.0); }
	40% {transform: scale(1,1.1); }
	60% {transform: scale(1,1.2); }
	100% {transform: scale(1,1); }
}



#wave2{
	z-index:189;
	width: 1180px;
	height: 50px;
	grid-column-start:1;
	grid-row-start:1;
	grid-row-end:2;
	margin-top:360px;
	overflow: hidden;
	animation: flow2 3.5s ease infinite;
}

@keyframes flow2 {
	0% {transform: scale(1,0.9); }
	20% {transform: scale(1,1.2); }
	60% {transform: scale(1,0.8); }
	80 {transform: scale(1, 1.5);}
	100% {transform: scale(1,1); }
}



#wave3{
	z-index:188;
	width: 1180px;
	height: 50px;
	grid-column-start:1;
	grid-row-start:1;
	grid-row-end:2;
	margin-top:340px;
	overflow:hidden;
	animation: flow3 3.5s ease-in-out infinite;
}

@keyframes flow3{
	0% {transform: scale(1,0.5); }
	20% {transform: scale(1,0.9); }
	60% {transform: scale(1,0.6); }
	80% {transform: scale(1, 0.5);}
	100% {transform: scale(1,1); }
}


#product{
	width:1180px;
	height:auto;
	z-index:200;	
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:3;
}

#frozen{
	width:1180px;
	height:auto;
	z-index:300;	
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:3;
	opacity:0.0;
	animation: freeze 10s linear  infinite;

}

@keyframes freeze{
	75%{ opacity:0.0;}
	80%{opacity:1.0;}
	90% {opacity:1.0;}
	100%{opacity: 1.0;}
	
}

#bg{
	width:1180px;
	height:auto;
	z-index:1;	
	grid-column-start:1;
	grid-column-end:3;
	grid-row-start:1;
	grid-row-end:3;
}
